<div fxLayout="row wrap" style="margin-top: -200px">
    <div fxFlex.gt-lg="100" fxFlex.gt-md="100" fxFlex.gt-xs="100" fxFlex="100" style="padding: 8px">
        <mat-card class="kartya">
            <div fxLayout="row wrap">
                <div fxFlex.gt-lg="30" fxFlex.gt-md="30" fxFlex.gt-xs="50" fxFlex="100">
                    <img [src]="Film.coverLink" class="foto" style="width: 100%; height: 100%">
                </div>
                <div fxFlex.gt-lg="70" fxFlex.gt-md="70" fxFlex.gt-xs="50" fxFlex="100" class="eltolas">
                    <mat-card-content>
                        <p style="color: rgb(100, 100, 100)">{{Film.release_date | date: 'yyyy/MM/dd'}}</p>
                        <div class="elvalaszto" style="margin-bottom: 15px; margin-top: -10px"></div>
                        <p style="text-align: justify">{{Film.opening_crawl}}</p>
                    </mat-card-content>
                </div>
            </div>
        </mat-card>
    </div>
</div>

<div fxLayout="row wrap">
    <div fxFlex.gt-lg="100" fxFlex.gt-md="100" fxFlex.gt-xs="100" fxFlex="100" style="padding: 8px">
        <mat-card class="kartya">
            <mat-card-content>
                <h2>Szereplők</h2>
                <div class="elvalaszto" style="margin-top: -10px; margin-bottom: 15px;"></div>
                <div fxLayout="row wrap">
                    <div *ngFor="let character of Film.characters" fxFlex.gt-lg="25" fxFlex.gt-md="25" fxFlex.gt-sm="33.3" fxFlex.gt-xs="100" fxFlex="100" style="padding: 5px">
                        <div class="szereplok">
                            <h2 style="color: rgb(100, 100, 100)">{{character.name}}</h2>
                            <div style="margin-top: -20px" *ngIf="character.species != 'Droid'"><small><span>Faj:</span>
                                <span *ngIf="character.species != ''">&nbsp;{{character.species}}</span>
                                <span *ngIf="character.species == ''">&nbsp;Nincs adat</span>
                            </small>
                        </div>
                        <div style="margin-top: -20px; visibility: hidden;" *ngIf="character.species == 'Droid'"><small><span>x</span></small>
                    </div>
                        <div *ngIf="filmekMegkerkeztek" style="margin-top: 10px">
                            <p>További filmek</p>
                            <div class="elvalaszto" style="margin-top: -10px; margin-bottom: 10px;"></div>
                            <div *ngFor="let film of character.films">
                                <div><small>{{film.title}}</small></div>
                        </div> 
                    </div>
                        </div>
                    </div>
                </div>
                <div style="width: 100%; margin-top: 10px">
                    <button mat-stroked-button style="border-color: red; color: white; width: 100%" (click)="vissza_a_filemkhez()">Vissza a filmekhez</button>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>