table{
    width: 100%;
    border-collapse: collapse;
}

tr:not(:last-child){
    border-bottom-color: rgb(100, 100, 100);
    border-bottom-width: 1px;
    border-bottom-style: solid;
}
td{
    padding: 5px 0px;
}

::ng-deep  .snackbarstilus {
    color: black !important;
    background-color:yellow !important;
    white-space: pre-wrap;
}
 ::ng-deep  .snackbarstilus_sikertelen {
    color: #ffffff !important;
    background-color: crimson !important;
    white-space: pre-wrap;
}