<div class="fejlec">
<div class="container">
  <b style="cursor: pointer;" (click)="tovabb_a_komponensre('/')"><span class="star_wars_felirat" style="color: red">STAR WARS</span></b>
  <div style="float: right; margin-right: 50px">
    <span [ngClass]="{'aktiv_menuelem': base.aktivKomponens == 'filmek'}" style="margin-right: 20px; cursor: pointer;" (click)="tovabb_a_komponensre('/')">Filmek</span>
    <span [ngClass]="{'aktiv_menuelem': base.aktivKomponens == 'feladatok'}" style="cursor: pointer;" (click)="tovabb_a_komponensre('feladatok')">Feladatok</span>
  </div>
</div>
</div>
<div class="banner">
<div class="banner_kep"></div>
<div class="banner_kep_takaro">
  <div class="oldal_cim"><h1 style="position: relative; top: 150px; font-weight: 500; font-size: 2rem;">{{oldal_cim}}</h1></div>
</div>
</div>
<div class="container">
    <router-outlet></router-outlet>
</div>